<div>
    <div class="row">
        <div class="col-md-4 app-about-fbox">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, corrupti aliquid. Magni nam dolores alias necessitatibus optio voluptate facilis et assumenda porro animi possimus, enim, hic voluptatem voluptatum reiciendis fugiat.
        </div>
        <div class="col-md-4 app-about-sbox">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam officiis totam qui, adipisci in ipsa explicabo, eligendi quia minus sunt deserunt possimus, ex repellat magnam delectus illum dolores aperiam enim.
        </div>
        <div class="col-md-4 app-about-tbox">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga accusamus dolore eligendi placeat facilis consequatur sed soluta cumque rem modi. Excepturi, sapiente suscipit! Iste mollitia saepe nam tempora fuga repellendus!
        </div>
    </div>

</div>
