<div>
    <div class="row">
        <div class="col-md-4 app-about-fbox">
            <div class="container mt-5 mb-5">
                <h3 class="colored-title">
                    Estrategia, usabilidad & ux
                </h3>
                <p class="text-p">Te ofrecemos excelente usabilidad y <br>
                    experiencia de usuario en tu proyecto,<br>
                    junto a una visión innovadora
                </p>
            </div>
        </div>
        <div class="col-md-4 app-about-sbox">
            <div class="container mt-5 mb-5">
                <h3 class="colored-title">
                    Mejoramos la experiencia
                </h3>
                <p class="text-p">Tangibilizamos tu proyecto digital a<br>
                    través de un diseño centrado en el<br>
                    usuario y técnicas avanzadas
                </p>
            </div>
        </div>
        <div class="col-md-4 app-about-tbox">
            <div class="container mt-5 mb-5">
                <h3 class="colored-title">
                    Medición continua de objetivos
                </h3>
                <p class="text-p">Implementación, testing con usuarios<br>
                    y medición continua son necesarias<br>
                    para garantizar el éxito de tu proyecto
                </p>
            </div>
        </div>
    </div>

</div>