.app-about-fbox{
    background-color: #31373b;
    padding: 40px;
    text-align: center;
}

.app-about-sbox{
    background-color: #161f24;
    padding: 40px;
    text-align: center;
}

.app-about-tbox{
    background-color: #16252e;
    padding: 40px;
    text-align: center;
}
