<div class="app-featured ">
    <div class="container">
        <h2 class="app-featured-title mt-5">
            Lo que dicen nuestros clientes
        </h2>
    </div>
</div>
<div class="row">
    <div class="col-md-4 derco-client">
        Lorem ipsum dolor sit amet consectetur Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum rerum architecto eius non sequi iste, distinctio dolorem quasi accusamus quaerat corrupti natus optio magnam odio fugit? Quam, repellendus. Maiores, blanditiis?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae delectus nemo architecto illo, dolor magnam fugit fugiat. Molestiae accusantium, at exercitationem, eum ipsa quod maxime minus est distinctio quas quos!
    </div>
    <div class="col-md-4 diners-client">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi nihil placeat repellat quia magnam perspiciatis autem! Exercitationem quae sapiente necessitatibus velit possimus beatae officia similique nobis a, sequi quasi doloremque.
    </div>
    <div class="col-md-4 copec-client">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione nihil alias culpa deleniti blanditiis iste labore! Provident impedit tenetur culpa? Quas sint dolores nostrum id, debitis amet? Vel, repudiandae iste!
    </div>
</div>

<div class="app-featured ">
    <div class="container">
        <div class="mt-5 mb-5 center">
            <button class="btn btn-primary">Hablemos de tu proyecto</button>
        </div>
    </div>
</div>