<div class="row footer">
    <div class="col-md-4">
        <p>© 2022 SOHO internet + humana</p>
    </div>
    <div class="col-md-4 center">
        <span class="text-green">Visítanos</span>
        <span class="text-green">Escribenos</span>
        <span class="text-green">Llámanos</span>
    </div>
    <div class="col-md-4 center">
        <span class="facebook">Facebook</span>
        <span class="twitter">Twitter</span>
        <span class="linkedin">Linkedin</span>
        <span class="youtube">Youtube</span>
    </div>
</div>
