<div class="app-featured ">
    <div class="container">
        <h2 class="app-featured-title mt-5">
            Proyectos destacados
        </h2>
        <p class="app-featured-text mt-5">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, quam aliquid consequatur reprehenderit esse nam quos perferendis quaerat
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, quam aliquid
        </p>
    </div>

</div>

<!-- <div *ngFor="let project of projects | json">

</div> -->
{{projects | json}}
<div class="diners">
    <div class="row">
        <div class="col-md-6">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto delectus exercitationem corrupti vel error quas optio facere veniam quibusdam nam necessitatibus cupiditate officiis velit eius repudiandae voluptates minima, tempora ullam!
        </div>
        <div class="col-md-6">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus nam aut eos sint debitis, dolorum dicta! Excepturi, rerum placeat fugiat neque ut quaerat error, accusantium architecto a laborum, saepe culpa.
        </div>
    </div>
</div>
<div class="derco">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate quam a distinctio perspiciatis. Blanditiis ducimus eaque nemo perferendis nulla, officia eius est, iusto, voluptatem laudantium sequi sunt quisquam nam suscipit.
</div>
<div class="copec">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate quam a distinctio perspiciatis. Blanditiis ducimus eaque nemo perferendis nulla, officia eius est, iusto, voluptatem laudantium sequi sunt quisquam nam suscipit.
</div>