<div class="app-featured ">
    <div class="container">
        <h2 class="app-featured-title mt-5">
            Proyectos destacados
        </h2>
        <p class="app-featured-text mt-5">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, quam aliquid consequatur reprehenderit esse nam quos perferendis quaerat
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sint, quam aliquid
        </p>
    </div>

</div>

<div *ngFor="let project of projects">
    <div class="{{project['name']}}">
        <div class="row ">
            <div class="col-md-6 mt-5 order-{{project['order']}}">
                <img src="{{project['img_url_content']}}" class="img-fluid"  alt="">
            </div>
            <div class="col-md-6 into-box">
                <div class="col-md-6 offset-md-3">
                    <img src="{{project['img_url_logo']}}" class="img-fluid" width="30%" alt="">
                    <h3 class="mt-3">{{project['title']}}</h3>
                    <p class="mt-3">
                        {{project['content']}}
                    </p>
                    <div class="row">
                        <p class="link-hl">UI responsive</p>
                    </div>
                    <div>
                        <button class="btn btn-{{project['name']}}">VER DETALLES</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
